* {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 40px;
  color: red;
}

h2 {
  font-size: 32px;
  color: darkblue;
}

img {
  max-width: 300px;
}